<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>English Words</title>
    <link rel="stylesheet" href="{% static 'en/style.css' %}">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
        (function (doc) {
            var viewport = document.getElementById('viewport');
            if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) {
                viewport.setAttribute("content", "width=device-width, initial-scale=0.3");
            } else if (navigator.userAgent.match(/iPad/i)) {
                viewport.setAttribute("content", "width=device-width, initial-scale=0.7");
            }
        }(document));
        function printAToZ() {
            var first = "a", last = "z";
            //var urls = document.getElementById("urls");
            var text = "";
            for (var i = first.charCodeAt(0) ; i <= last.charCodeAt(0) ; i++) {
                text += "<a href=\"/words/" + eval("String.fromCharCode(" + i + ")") + "\">"
                    + eval("String.fromCharCode(" + i + ")").toUpperCase() + "</a> ";
            }
            document.getElementById("urls").innerHTML = text;
        };
        function play_audio(word_id) {
            var audio = document.getElementById("audio" + word_id);
            audio.load();
            audio.play();
        };
    </script>
</head>
<body onload="printAToZ()">
    <p id="urls" name="urls"></p>
    {% if object_list %}
        {% for word in object_list %}
        <p>
            <img id="img{{ word.id }}" src="{% static 'en/play.png' %}" alt="play" onclick="play_audio({{ word.id }})" />
            <audio id="audio{{ word.id }}"><source src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/{{ word.word }}.mp3" type="audio/mp3" /></audio>
            <strong>{{ word.word }}</strong>
            <em> ({{ word.type }}) </em>
            {{ word.meaning_vn }}
            <em>   |   {{ word.meaning_en }}</em>
        </p>
        {% endfor %}
    {% else %}
    <p>No words are available.</p>
    {% endif %}
</body>
</html>